/* Base Styles */
.slider-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Ensure no overflow from child elements */
}

/* Grid Layout for Images */
.photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

/* Individual Photo Items */
.photo-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.photo-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.photo-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.photo-image:hover {
    transform: scale(1.05);
}

.photo-label {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 14px;
    text-align: center;
}

input[type="checkbox"] {
    cursor: pointer;
}

/* Styles for Buttons */
.start-selection-button, .launch-fullscreen-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0;
    display: inline-block; /* Ensures buttons don't stretch to full width */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.start-selection-button:hover, .launch-fullscreen-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #0056b3;
}

/* Fullscreen Styles */
.fullscreen .carousel-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 9999;
}

/* Styles for the Legend within Slides */
.legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 80%;
    z-index: 10;
    text-align: left;
}

/* Ensure that images and legends are correctly positioned */
.carousel .slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    margin: 5vh auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.carousel .slide img {
    max-width: 100%;
    max-height: 85vh;
    object-fit: contain;
    width: auto;
    height: auto;
    margin: auto;
}

@media (max-width: 768px) {
    .photo-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .start-selection-button, .launch-fullscreen-button {
        font-size: 14px;
        padding: 8px 15px;
    }

    .photo-label {
        font-size: 12px;
    }
}
